
<div id="award{{id}}" class="award award-box box" data-id="{{id}}">

  <div class="award-box-header box-header">
    <div class="award-box-info box-info">
      <p>{{awardcategoryName}} - {{awardcategoryDescription}}</p>
    </div>

    <div class="award-box-buttons box-buttons">
      <button class="btn btn-primary select select-award" type="submit">Select</button>
      <button class="btn btn-info edit edit-award" type="submit">Edit</button>
      <button class="btn btn-success add add-nomination" type="submit">Add Nomination</button>
      <button class="btn btn-danger deselect deselect-award" type="submit">Close</button>
    </div>
  </div>

  <div class="nominations-wrapper wrapper">
    {{#each nominations}}
      {{> nomination}}
    {{/each}}
  </div>

</div>
