

<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">
        <a href="/events/{{eventId}}">{{eventName}}</a>
      </li>
    </ol>

  </div>
</div>
