<form>

  <div class="form-group">
    <label for="locationId">Location</label>
    <select id="eventSearchLocation" class="form-control" name="locationId">
    </select>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input id="eventSearchDate" data-date-format="D mm d yyyy">
  </div>

  <div class="form-group">
    <label for="eventId">Event</label>
    <select id="eventSearchEvent" class="form-control" name="eventId">
    </select>
  </div>

  {{!-- <button type="submit" class="btn btn-default">Submit</button> --}}
  <a id="eventSearchSubmit" class="btn btn-default" href="s" role="button">Submit</a>

</form>
