
<form>

  <div class="form-group">
    <label for="officeId">Office</label>
    <select id="event_search-office" class="form-control" name="officeId">
      <option value="-1" selected="selected">Select a Office</option>
    </select>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" id="event_search-date" class="form-control" name="date">
  </div>

  <div class="form-group">
    <label for="eventId">Event</label>
    <select id="event_search-event" class="form-control" name="eventId">
      <option value="-1" selected="selected">Select an Event</option>
    </select>
  </div>

  <a id="event_search-submit" class="btn btn-default" href="" role="button">Submit</a>

</form>
