<form action="/fridaymeetings/calculateid" method="get">

  <div class="form-group">
    <label for="locationId">Location</label>
    <select class="form-control" name="locationId">
      {{#each fridaymeeting_show_form.locations}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="weekId">Week</label>
    <select class="form-control" name="weekId">
      {{#each fridaymeeting_show_form.weeks}}
        <option value="{{id}}">{{dateformat date}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
