<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Friday Meeting  -  "Location Goes Here"  -  "Week Goes Here"</h2>
    </div>
  </div>

  {{#each awards }}
    {{#if (openingRow @index) }}
      <div class="row">
    {{/if}}

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <p>{{awardcategoryName}}  -  {{awardcategoryDescription}}</p>
        </div>
        <div class="panel-body">
          <p>...</p>
        </div>

        <ul class="list-group">
          {{#each nominations }}
            <li class="person list-group-item">
              <img height="50px" src="https://img.clipartfest.com/fd7d1ac3605a7cd2954a6ea29a9c88cc_business-person-cartoon-business-person-clipart_326-425.jpeg" alt="">
              <p>{{nominationPerson}}</p>
              <p>{{awardWinner}}</p>
            </li>
          {{/each}}
        </ul>

      </div>
    </div>

    {{#if (closingRow @index) }}
      </div>
    {{/if}}
  {{/each}}

</div>
