<h1>Office</h1>

<p>Id: {{id}}</p>
<p>Name: {{name}}</p>
<p>Description: {{description}}</p>

<div>
  <a class="btn btn-default" href="/offices/{{id}}/edit" role="button">Edit</a>
</div>


<script type="text/javascript">
  console.log('Script tag: event_show')
  document.addEventListener("DOMContentLoaded", function() {
    window.custom.offce_show()
  });
</script>
