body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 30px;
  width: 30px;
}

.temp-button {
  display: flex;
}



/********************************************************
                        All
  .box || .box-header || .info || .buttons || .wrapper
*********************************************************/
.box {
}

.box-header {
  display: flex;
  justify-content: space-between;
}

.box-info {
  display: flex;
  justify-content: flex-start;
}

.box-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.box-buttons button {

}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}



/********************************************************
                        Event
*********************************************************/
.event {
}

.event-box {
  background: rgba(76, 175, 80, 0.3);
}

.event-box-header {
}

.event-box-info {
}

.event-box-buttons {
}

.awards-wrapper {
  background: rgba(0, 178, 238, 0.2);
}



/********************************************************
                        Award
*********************************************************/
.award {
}

.award-box {
  background: rgba(0, 178, 238, 0.4);
  width: 50%;
}

.award-box-header {
}

.award-box-info {
}

.award-box-buttons {
}

.nominations-wrapper {
  background: rgba(255, 100, 100, 0.2);
}




/********************************************************
                    Nomination
*********************************************************/
.nomination-box {
  background: rgba(255, 100, 100, 0.4);
  width: 50%;
}

.nomination-box-header {
}

.nomination-box-info {
}

.nomination-box-buttons {
}

.nomination-box-description {
}
