body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 30px;
  width: 30px;
}

.temp-button {
  display: flex;
}



.event-box {
  background: rgba(76, 175, 80, 0.3);
  padding: 10px;
}

.event-box-header {
  display: flex;
  justify-content: space-around;
}

.awards-title {
  display: flex;
  justify-content: flex-start;
}

.awards-box-wrapper {
  background: rgba(0, 178, 238, 0.3);
  padding: 10px;

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.award-box {
  border: solid 1px black;
  width: 50%;
}

.award-box-header {
  display: flex;
  justify-content: space-around;
}

.nominations-title {
  display: flex;
  justify-content: flex-start;
}

.nominations-box-wrapper {
  background: rgba(255, 100, 100, 0.3);
  padding: 10px;

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.nomination-box {
  border: solid 1px black;
  width: 50%;
}

.nomination-box-header {
  display: flex;
  justify-content: space-around;
}

.nomination-box-description {

}
